<div class="container">


        <form name="Form3">


            <input type="text"
                   ng-model="required" validator="required" name="eee"
            >


            <input  type="text"
                   ng-model="url" validator="url" name="dddd"
            >


            <input  type="text"
                   ng-model="email" validator="email"
            >



                <button validation-submit="Form3">Submit</button>

            <button ng-click="submit(Form3)">validate</button>


        </form>

</div>

